* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    backface-visibility: hidden;

}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("images/backimg.jfif");

}

.navbar {
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: rgb(34, 161, 199);
    z-index: 2;
}

#highlight {
    background-color: rgb(22, 89, 109);
    padding: 1% 5.5%;
    height: 7%;
    text-align: center;

}
.hovimg{
    position: absolute;
    margin-top: 18%;
    margin-left: 19%;
    backface-visibility: hidden;
}

.options {
    display: inline-block;
    padding: 1% 5.5%;
    /*font-size: 10%;*/
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 400;

}

.backimg {
    z-index: 1;
    opacity: 0.4;
    background-image: url("images/backimg1.png");
}

#below {
    z-index: 0.2;
}

@keyframes image {
    0% {
        opacity: 0;
        transform: translateX(-200px);

    }

    90% {
        opacity: 0.7;
        transform: translateX(30px);

    }

    100% {
        opacity: 100%;
        transform: translateX(0);
    }

}

@keyframes namebox {
    0% {
        opacity: 0;
        transform: translateX(200px);

    }

    90% {
        opacity: 0.7;
        transform: translateX(-30px);

    }

    100% {
        opacity: 100%;
        transform: translateX(0);
    }

}

@keyframes hovpho1 {
    0% {
        opacity: 0;
        transform: translateY(200px);

    }

    100% {
        opacity: 100%;
        transform: translateY(10px);
    }

}

@keyframes hovpho2 {
    0% {
        opacity: 0;
        transform: translateY(-200px);

    }

    100% {
        opacity: 100%;
        transform: translateY(-10px);
    }

}




.namebox {
    width: 30%;
    height: 70%;
    border-width: 10px;
    border-style: solid;
    opacity: 0.9;
    border-image:
        linear-gradient(rgb(133, 69, 9),
            rgba(23, 207, 231, 0)) 10 100%;
    background-color: rgba(223, 226, 17, 0.76);
    margin-left: 50%;
    float: left;
    position: absolute;
    top: 17%;
    animation: namebox 1.7s ease-out;
    font-family: 'Hina Mincho', serif;
    font-size: 150%;
    font-weight: 800;
    display: block;
    text-align: center;
}

.homephoto {
    margin-left: 10%;
    float: left;
    width: 30%;
    height: 70%;
    position: absolute;
    top: 17%;
    animation: image 1.7s ease-out;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;


}

.homephoto:hover,
.namebox:hover {
    transform: translateY(-10px);
    display: inline-block;
    box-shadow: 20px 22px 40px black;
}

#hovpho1 {
    color: black;
    transition: .5s ease-in-out;
    opacity: 0;
}

#hovpho2 {
    color: black;
    transition: .5s ease-in-out;
    opacity: 0;
}


.overall:hover .homephoto {
    opacity: 0.6;
}

.overall:hover #hovpho1 {
    opacity: 1;
    animation: hovpho1 1s ease-in;
    backface-visibility: hidden;

}

.overall:hover #hovpho2 {
    opacity: 1;
    animation: hovpho2 1s ease-in;
    backface-visibility: hidden;

}

.textins {
    color: black;
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Kaisei Opti', serif;
    text-align: center;
}

.button {
    display: inline-block;
    width: 40%;
    height: 10%;
    border-radius: 100px;
    background-color: aliceblue;
    font-size: 70%;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;

}

.button:hover {
    box-shadow: 10px 10px 20px black;
    transform: translateY(-6px);

}

.options:hover {
    background-color: rgb(46, 128, 153);
    padding: 1% 5.5%;
    text-align: center;
}